<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ConnectionDatabase" value="Data Source=(local);Initial Catalog=CineProManagerTEST2;Integrated Security=SSPI"/>
  </appSettings>
</configuration>